@import "../../";

.Post {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1250px;
  margin: auto;
  padding: $gap $gap-2;

  h1 {
    font-size: 5em;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1em;
    letter-spacing: -3px;
  }
}
