@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

// COLORS
$text: #0e0e0e;
$text-hover: #0e0e0ec4;

// VARIABLES
$gap: 15px;
$gap-2: 30px;

// MAIN
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: $text;
}

a {
  color: $text;
  text-decoration: none;
}
